#modal-finalize.modal.fade{:tabindex => "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Finalize Survey Answer
      .modal-body
        .modal-body-content
          .row
            .col
              %p
                Are you sure you want to finalize all answers?
      .modal-footer
        %button#btn-confirm-finalize.btn.btn-primary{ data: { id: @survey_answer.id } }
          .fa.fa-check
          Confirm
