%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      .fa.fa-shield-alt
      Administration
    %li.breadcrumb-item
      .fa.fa-file
      Surveys
    %li.ml-auto
      = link_to new_administration_survey_path do
        .fa.fa-plus
        New Record
