%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      .fa.fa-shield-alt
      Administration
    %li.breadcrumb-item
      = link_to administration_surveys_path do
        .fa.fa-file
        Surveys
    %li.breadcrumb-item
      = link_to administration_survey_path(@survey) do
        .fa.fa-file
        #{@survey}
    %li.breadcrumb-item
      .fa.fa-chart-line
      Stats
    %li.ml-auto
