%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      .fa.fa-shield-alt
      Administration
    %li.breadcrumb-item
      = link_to administration_surveys_path do
        .fa.fa-file
        Surveys
    %li.breadcrumb-item
      = link_to administration_survey_path(@survey) do
        .fa.fa-file
        #{@survey}
    %li.breadcrumb-item
      .fa.fa-file
      Summary
    %li.ml-auto
      = link_to "#", id: "btn-download-xls" do
        .fa.fa-download
        Download XLS
