%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      .fa.fa-shield-alt
      Administration
    %li.breadcrumb-item
      = link_to administration_survey_path(@survey) do
        .fa.fa-file
        Survey: #{@survey}
    %li.breadcrumb-item
      .fa.fa-pencil-alt
      Edit Question for #{@survey}
