%table.table.table-bordered
  %thead
    %tr
      %th
        Survey
      %th
        Last Updated
      %th
        Status
  %tbody
    - @survey_answers.each do |o|
      %tr
        %td
          = link_to survey_answer_path(o) do
            #{o.survey}
        %td
          #{o.updated_at.strftime("%b %d, %Y")}
        %td
          - if o.is_final
            .badge.badge-success
              Submitted
          - else
            .badge.badge-danger
              Unsubmitted
