- if !user_signed_in?
  .input-group-prepend
    %span.input-group-text
      @
    = text_field_tag :email, "", id: 'input-email', class: 'form-control', placeholder: 'Email / Username'
  .input-group-prepend
    %span.input-group-text
      .fa.fa-lock
    = password_field_tag :password, "", id: 'input-password', class: 'form-control', placeholder: 'Password'
  #btn-login.btn.btn-info
    .fa.fa-upload
    Login
