.row
  .col
    %ul
      %li
        = link_to root_path do
          Home
      - if user_signed_in?
        %li
          = link_to patients_path do
            My People / Patients / Staff
  .col
    = render partial: "shared/login"
