= render partial: "confirm_header"

.container-fluid
  .row
    .col
      .card.border-info
        .card-body.text-info
          %h5.card-title
            Thank you for participating!
          %p
            You may now login and use the system accordingly.
