= render partial: "index_header"
.container-fluid
  .row
    .col
      %h1
        Welcome to Covid19 Response Hub
      %h4
        People Tracker
      %p
        These are aggregated information of people in need of supplies as well as symptoms and other information in relation to this quarantine period. It is not to be taken as a source of Covid19 patients but rather as crowd sourced information to identify which sections of Metro Manila contain density of population with various needs.
      - if @patients.size > 0
        = render partial: "index_list"
        = paginate @patients
      - else
        %p
          No records yet
      %h4
        Establishments in Need
      %p
        These are records partaining to establishments contributed by the community that are need of various items.
      - if @establishments.size > 0
        = render partial: "establishment_list"
