%nav
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to patients_path do
        .fa.fa-users
        My Records
    %li.breadcrumb-item
      .fa.fa-pencil-alt
      Edit Record #{@patient.full_name}
